@import "~src/styles/core/variables/variables";
@import "~src/styles/core/mixins/mixin-focus-variant";

/**
* Example of usage:
* <div class="ab-checkbox">
*   <input type="checkbox" aria-label="..."/>
* </div>
*/

.ab-checkbox {
  position: relative;
  cursor: pointer;

  input {
    position: relative;
    border: none;
    cursor: pointer;
    appearance: none;

    &:after {
      content: '';
      display: block;
      height: $checkbox-size;
      width: $checkbox-size;
      border: 2px solid var(--checkbox-border);
      background-color: var(--checkbox-bg);
      border-radius: $border-radius-base;
    }

    &:checked {
      &:after {
        border-color: var(--checkbox-border-checked);
      }
      &:before {
        content: '';
        transform: rotate(45deg);
        position: absolute;
        left: 8px;
        top: 3px;
        display: table;
        width: 8px;
        height: 14px;
        border: 2px solid var(--checkbox-icon-checked);
        border-top: 0;
        border-left: 0;
      }
    }

    @include focus-variant;
  }
}
